## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df.drop(columns=['NAME', 'EIN'], inplace=True)
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Determine the number of unique values in each column.
application_df[application_df.dtypes[application_df.dtypes == "object"].index.tolist()].nunique()

APPLICATION_TYPE          17
AFFILIATION                6
CLASSIFICATION            71
USE_CASE                   5
ORGANIZATION               4
INCOME_AMT                 9
SPECIAL_CONSIDERATIONS     2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
value_counts = application_df['APPLICATION_TYPE'].value_counts()
value_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`

# Filter values below the threshold and put them in a list
application_types_to_replace = value_counts[value_counts < 500].index.tolist()

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts for binning
value_counts2 = application_df['CLASSIFICATION'].value_counts()
value_counts2

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
value_counts2_greater_than_1 = value_counts2[value_counts2 > 1]
value_counts2_greater_than_1

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = value_counts2[value_counts2 < 1883].index.tolist()
# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [9]:
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [10]:
# Convert categorical data to numeric with `pd.get_dummies`
categorical_columns = ["APPLICATION_TYPE", "AFFILIATION", "CLASSIFICATION", "USE_CASE", "ORGANIZATION", "INCOME_AMT", "SPECIAL_CONSIDERATIONS"]
application_df = pd.get_dummies(application_df, columns=categorical_columns)
application_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [11]:
# Split our preprocessed data into our features and target arrays
X = application_df.drop("IS_SUCCESSFUL", axis=1)  # Features excluding the target column
y = application_df["IS_SUCCESSFUL"]  # Target variable
# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=20)

In [12]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [13]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = X_train.shape[1]
hidden_nodes_layer1 =  80
hidden_nodes_layer2 = 30

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 80)                3520

 dense_1 (Dense)             (None, 30)                2430

 dense_2 (Dense)             (None, 1)                 31

=================================================================
Total params: 5,981
Trainable params: 5,981
Non-trainable params: 0
_________________________________________________________________

In [14]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [15]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=100)

Epoch 1/100
858/858 [==============================] - 4s 3ms/step - loss: 0.5656 - accuracy: 0.7263
Epoch 2/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5531 - accuracy: 0.7316
Epoch 3/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5488 - accuracy: 0.7343
Epoch 4/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5471 - accuracy: 0.7348
Epoch 5/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5464 - accuracy: 0.7352
Epoch 6/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5448 - accuracy: 0.7361
Epoch 7/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5445 - accuracy: 0.7368
Epoch 8/100
858/858 [==============================] - 2s 3ms/step - loss: 0.5440 - accuracy: 0.7360
Epoch 9/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5434 - accuracy: 0.7350
Epoch 10/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5432 - accuracy: 0.7376
Epoch 11/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5422 - accuracy: 0.7364
Epoch 12/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5415 - accuracy: 0.7370
Epoch 13/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5418 - accuracy: 0.7380
Epoch 14/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5412 - accuracy: 0.7377
Epoch 15/100
858/858 [==============================] - 2s 3ms/step - loss: 0.5410 - accuracy: 0.7379
Epoch 16/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5404 - accuracy: 0.7373
Epoch 17/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5401 - accuracy: 0.7380
Epoch 18/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5401 - accuracy: 0.7389
Epoch 19/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5396 - accuracy: 0.7392
Epoch 20/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5395 - accuracy: 0.7379
Epoch 21/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5394 - accuracy: 0.7381
Epoch 22/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5390 - accuracy: 0.7377
Epoch 23/100
858/858 [==============================] - 2s 3ms/step - loss: 0.5389 - accuracy: 0.7392
Epoch 24/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5388 - accuracy: 0.7396
Epoch 25/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5386 - accuracy: 0.7387
Epoch 26/100
858/858 [==============================] - 2s 3ms/step - loss: 0.5384 - accuracy: 0.7394
Epoch 27/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5384 - accuracy: 0.7394
Epoch 28/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5379 - accuracy: 0.7400
Epoch 29/100
858/858 [==============================] - 2s 3ms/step - loss: 0.5377 - accuracy: 0.7401
Epoch 30/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5380 - accuracy: 0.7403
Epoch 31/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5370 - accuracy: 0.7403
Epoch 32/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5373 - accuracy: 0.7409
Epoch 33/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5374 - accuracy: 0.7407
Epoch 34/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5373 - accuracy: 0.7395
Epoch 35/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5371 - accuracy: 0.7404
Epoch 36/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5371 - accuracy: 0.7407
Epoch 37/100
858/858 [==============================] - 2s 3ms/step - loss: 0.5365 - accuracy: 0.7412
Epoch 38/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5363 - accuracy: 0.7406
Epoch 39/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5363 - accuracy: 0.7419
Epoch 40/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5361 - accuracy: 0.7398
Epoch 41/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5365 - accuracy: 0.7408
Epoch 42/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5363 - accuracy: 0.7401
Epoch 43/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5357 - accuracy: 0.7409
Epoch 44/100
858/858 [==============================] - 2s 3ms/step - loss: 0.5360 - accuracy: 0.7401
Epoch 45/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5354 - accuracy: 0.7411
Epoch 46/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5358 - accuracy: 0.7411
Epoch 47/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5359 - accuracy: 0.7408
Epoch 48/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5358 - accuracy: 0.7415
Epoch 49/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5354 - accuracy: 0.7407
Epoch 50/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5355 - accuracy: 0.7416
Epoch 51/100
858/858 [==============================] - 2s 3ms/step - loss: 0.5353 - accuracy: 0.7416
Epoch 52/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5353 - accuracy: 0.7418
Epoch 53/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5354 - accuracy: 0.7416
Epoch 54/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5352 - accuracy: 0.7412
Epoch 55/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5350 - accuracy: 0.7415
Epoch 56/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5349 - accuracy: 0.7421
Epoch 57/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5349 - accuracy: 0.7415
Epoch 58/100
858/858 [==============================] - 2s 3ms/step - loss: 0.5352 - accuracy: 0.7417
Epoch 59/100
858/858 [==============================] - 2s 3ms/step - loss: 0.5347 - accuracy: 0.7415
Epoch 60/100
858/858 [==============================] - 2s 3ms/step - loss: 0.5344 - accuracy: 0.7411
Epoch 61/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5346 - accuracy: 0.7421
Epoch 62/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5346 - accuracy: 0.7409
Epoch 63/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5347 - accuracy: 0.7419
Epoch 64/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5347 - accuracy: 0.7420
Epoch 65/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5338 - accuracy: 0.7416
Epoch 66/100
858/858 [==============================] - 2s 3ms/step - loss: 0.5345 - accuracy: 0.7421
Epoch 67/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5343 - accuracy: 0.7418
Epoch 68/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5343 - accuracy: 0.7420
Epoch 69/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5344 - accuracy: 0.7408
Epoch 70/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5338 - accuracy: 0.7411
Epoch 71/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5341 - accuracy: 0.7419
Epoch 72/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5340 - accuracy: 0.7416
Epoch 73/100
858/858 [==============================] - 3s 3ms/step - loss: 0.5339 - accuracy: 0.7422
Epoch 74/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5337 - accuracy: 0.7420
Epoch 75/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5335 - accuracy: 0.7429
Epoch 76/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5337 - accuracy: 0.7416
Epoch 77/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5334 - accuracy: 0.7425
Epoch 78/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5338 - accuracy: 0.7415
Epoch 79/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5331 - accuracy: 0.7422
Epoch 80/100
858/858 [==============================] - 3s 3ms/step - loss: 0.5332 - accuracy: 0.7429
Epoch 81/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5333 - accuracy: 0.7423
Epoch 82/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5337 - accuracy: 0.7415
Epoch 83/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5333 - accuracy: 0.7423
Epoch 84/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5331 - accuracy: 0.7420
Epoch 85/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5333 - accuracy: 0.7425
Epoch 86/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5333 - accuracy: 0.7420
Epoch 87/100
858/858 [==============================] - 2s 3ms/step - loss: 0.5330 - accuracy: 0.7411
Epoch 88/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5334 - accuracy: 0.7420
Epoch 89/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5327 - accuracy: 0.7427
Epoch 90/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5333 - accuracy: 0.7415
Epoch 91/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5332 - accuracy: 0.7430
Epoch 92/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5331 - accuracy: 0.7423
Epoch 93/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5328 - accuracy: 0.7422
Epoch 94/100
858/858 [==============================] - 2s 3ms/step - loss: 0.5329 - accuracy: 0.7432
Epoch 95/100
858/858 [==============================] - 2s 3ms/step - loss: 0.5328 - accuracy: 0.7422
Epoch 96/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5326 - accuracy: 0.7421
Epoch 97/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5326 - accuracy: 0.7429
Epoch 98/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5326 - accuracy: 0.7418
Epoch 99/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5322 - accuracy: 0.7423
Epoch 100/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5325 - accuracy: 0.7426

In [ ]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

215/215 - 0s - loss: 0.5815 - accuracy: 0.7175 - 469ms/epoch - 2ms/step
Loss: 0.5814792513847351, Accuracy: 0.7174926996231079

In [16]:
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [17]:
fit_model2 = nn.fit(X_train_scaled, y_train, epochs=30, batch_size=30, validation_data=(X_test_scaled, y_test))

Epoch 1/30
915/915 [==============================] - 5s 4ms/step - loss: 0.5329 - accuracy: 0.7418 - val_loss: 0.5777 - val_accuracy: 0.7179
Epoch 2/30
915/915 [==============================] - 2s 2ms/step - loss: 0.5328 - accuracy: 0.7427 - val_loss: 0.5819 - val_accuracy: 0.7191
Epoch 3/30
915/915 [==============================] - 2s 2ms/step - loss: 0.5327 - accuracy: 0.7418 - val_loss: 0.5806 - val_accuracy: 0.7165
Epoch 4/30
915/915 [==============================] - 2s 2ms/step - loss: 0.5325 - accuracy: 0.7420 - val_loss: 0.5799 - val_accuracy: 0.7188
Epoch 5/30
915/915 [==============================] - 2s 2ms/step - loss: 0.5325 - accuracy: 0.7426 - val_loss: 0.5790 - val_accuracy: 0.7171
Epoch 6/30
915/915 [==============================] - 3s 3ms/step - loss: 0.5327 - accuracy: 0.7426 - val_loss: 0.5803 - val_accuracy: 0.7179
Epoch 7/30
915/915 [==============================] - 3s 3ms/step - loss: 0.5327 - accuracy: 0.7426 - val_loss: 0.5808 - val_accuracy: 0.7181
Epoch 8/30
915/915 [==============================] - 2s 2ms/step - loss: 0.5326 - accuracy: 0.7417 - val_loss: 0.5853 - val_accuracy: 0.7178
Epoch 9/30
915/915 [==============================] - 2s 2ms/step - loss: 0.5326 - accuracy: 0.7422 - val_loss: 0.5835 - val_accuracy: 0.7191
Epoch 10/30
915/915 [==============================] - 2s 2ms/step - loss: 0.5324 - accuracy: 0.7426 - val_loss: 0.5812 - val_accuracy: 0.7181
Epoch 11/30
915/915 [==============================] - 2s 2ms/step - loss: 0.5323 - accuracy: 0.7423 - val_loss: 0.5821 - val_accuracy: 0.7168
Epoch 12/30
915/915 [==============================] - 3s 4ms/step - loss: 0.5327 - accuracy: 0.7418 - val_loss: 0.5778 - val_accuracy: 0.7182
Epoch 13/30
915/915 [==============================] - 2s 2ms/step - loss: 0.5320 - accuracy: 0.7424 - val_loss: 0.5790 - val_accuracy: 0.7175
Epoch 14/30
915/915 [==============================] - 2s 2ms/step - loss: 0.5321 - accuracy: 0.7424 - val_loss: 0.5794 - val_accuracy: 0.7190
Epoch 15/30
915/915 [==============================] - 2s 2ms/step - loss: 0.5321 - accuracy: 0.7425 - val_loss: 0.5773 - val_accuracy: 0.7172
Epoch 16/30
915/915 [==============================] - 2s 2ms/step - loss: 0.5323 - accuracy: 0.7433 - val_loss: 0.5805 - val_accuracy: 0.7188
Epoch 17/30
915/915 [==============================] - 3s 3ms/step - loss: 0.5322 - accuracy: 0.7432 - val_loss: 0.5772 - val_accuracy: 0.7175
Epoch 18/30
915/915 [==============================] - 3s 3ms/step - loss: 0.5321 - accuracy: 0.7424 - val_loss: 0.5825 - val_accuracy: 0.7175
Epoch 19/30
915/915 [==============================] - 2s 2ms/step - loss: 0.5320 - accuracy: 0.7427 - val_loss: 0.5832 - val_accuracy: 0.7184
Epoch 20/30
915/915 [==============================] - 3s 3ms/step - loss: 0.5319 - accuracy: 0.7428 - val_loss: 0.5857 - val_accuracy: 0.7159
Epoch 21/30
915/915 [==============================] - 2s 2ms/step - loss: 0.5321 - accuracy: 0.7420 - val_loss: 0.5783 - val_accuracy: 0.7181
Epoch 22/30
915/915 [==============================] - 3s 3ms/step - loss: 0.5321 - accuracy: 0.7423 - val_loss: 0.5867 - val_accuracy: 0.7179
Epoch 23/30
915/915 [==============================] - 3s 3ms/step - loss: 0.5320 - accuracy: 0.7426 - val_loss: 0.5891 - val_accuracy: 0.7181
Epoch 24/30
915/915 [==============================] - 2s 2ms/step - loss: 0.5321 - accuracy: 0.7425 - val_loss: 0.5853 - val_accuracy: 0.7173
Epoch 25/30
915/915 [==============================] - 2s 2ms/step - loss: 0.5320 - accuracy: 0.7419 - val_loss: 0.5820 - val_accuracy: 0.7188
Epoch 26/30
915/915 [==============================] - 2s 2ms/step - loss: 0.5320 - accuracy: 0.7430 - val_loss: 0.5829 - val_accuracy: 0.7176
Epoch 27/30
915/915 [==============================] - 2s 2ms/step - loss: 0.5317 - accuracy: 0.7431 - val_loss: 0.5834 - val_accuracy: 0.7188
Epoch 28/30
915/915 [==============================] - 3s 3ms/step - loss: 0.5318 - accuracy: 0.7423 - val_loss: 0.5833 - val_accuracy: 0.7188
Epoch 29/30
915/915 [==============================] - 2s 3ms/step - loss: 0.5318 - accuracy: 0.7423 - val_loss: 0.5822 - val_accuracy: 0.7166
Epoch 30/30
915/915 [==============================] - 2s 2ms/step - loss: 0.5317 - accuracy: 0.7427 - val_loss: 0.5847 - val_accuracy: 0.7168

In [18]:
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

215/215 - 0s - loss: 0.5847 - accuracy: 0.7168 - 293ms/epoch - 1ms/step
Loss: 0.5847132802009583, Accuracy: 0.7167638540267944

In [20]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = X_train.shape[1]
hidden_nodes_layer1 =  80
hidden_nodes_layer2 = 30
hidden_nodes_layer3 = 10

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_7 (Dense)             (None, 80)                3520

 dense_8 (Dense)             (None, 30)                2430

 dense_9 (Dense)             (None, 10)                310

 dense_10 (Dense)            (None, 1)                 11

=================================================================
Total params: 6,271
Trainable params: 6,271
Non-trainable params: 0
_________________________________________________________________

In [21]:
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [22]:
fit_model3 = nn.fit(X_train_scaled, y_train, epochs=20, batch_size=60, validation_data=(X_test_scaled, y_test))

Epoch 1/20
458/458 [==============================] - 2s 3ms/step - loss: 0.5728 - accuracy: 0.7169 - val_loss: 0.5740 - val_accuracy: 0.7166
Epoch 2/20
458/458 [==============================] - 2s 4ms/step - loss: 0.5506 - accuracy: 0.7309 - val_loss: 0.5746 - val_accuracy: 0.7194
Epoch 3/20
458/458 [==============================] - 3s 7ms/step - loss: 0.5484 - accuracy: 0.7337 - val_loss: 0.5729 - val_accuracy: 0.7176
Epoch 4/20
458/458 [==============================] - 4s 8ms/step - loss: 0.5463 - accuracy: 0.7356 - val_loss: 0.5706 - val_accuracy: 0.7201
Epoch 5/20
458/458 [==============================] - 3s 6ms/step - loss: 0.5448 - accuracy: 0.7350 - val_loss: 0.5702 - val_accuracy: 0.7176
Epoch 6/20
458/458 [==============================] - 1s 3ms/step - loss: 0.5444 - accuracy: 0.7362 - val_loss: 0.5683 - val_accuracy: 0.7178
Epoch 7/20
458/458 [==============================] - 1s 2ms/step - loss: 0.5439 - accuracy: 0.7343 - val_loss: 0.5716 - val_accuracy: 0.7182
Epoch 8/20
458/458 [==============================] - 1s 3ms/step - loss: 0.5431 - accuracy: 0.7367 - val_loss: 0.5678 - val_accuracy: 0.7188
Epoch 9/20
458/458 [==============================] - 1s 3ms/step - loss: 0.5431 - accuracy: 0.7366 - val_loss: 0.5697 - val_accuracy: 0.7157
Epoch 10/20
458/458 [==============================] - 1s 3ms/step - loss: 0.5421 - accuracy: 0.7363 - val_loss: 0.5705 - val_accuracy: 0.7168
Epoch 11/20
458/458 [==============================] - 2s 4ms/step - loss: 0.5418 - accuracy: 0.7367 - val_loss: 0.5661 - val_accuracy: 0.7192
Epoch 12/20
458/458 [==============================] - 2s 4ms/step - loss: 0.5416 - accuracy: 0.7377 - val_loss: 0.5677 - val_accuracy: 0.7168
Epoch 13/20
458/458 [==============================] - 1s 3ms/step - loss: 0.5413 - accuracy: 0.7384 - val_loss: 0.5684 - val_accuracy: 0.7172
Epoch 14/20
458/458 [==============================] - 1s 2ms/step - loss: 0.5407 - accuracy: 0.7385 - val_loss: 0.5678 - val_accuracy: 0.7171
Epoch 15/20
458/458 [==============================] - 1s 3ms/step - loss: 0.5403 - accuracy: 0.7372 - val_loss: 0.5695 - val_accuracy: 0.7163
Epoch 16/20
458/458 [==============================] - 1s 3ms/step - loss: 0.5403 - accuracy: 0.7384 - val_loss: 0.5705 - val_accuracy: 0.7169
Epoch 17/20
458/458 [==============================] - 1s 3ms/step - loss: 0.5396 - accuracy: 0.7381 - val_loss: 0.5720 - val_accuracy: 0.7152
Epoch 18/20
458/458 [==============================] - 1s 3ms/step - loss: 0.5400 - accuracy: 0.7395 - val_loss: 0.5757 - val_accuracy: 0.7190
Epoch 19/20
458/458 [==============================] - 1s 2ms/step - loss: 0.5394 - accuracy: 0.7392 - val_loss: 0.5743 - val_accuracy: 0.7103
Epoch 20/20
458/458 [==============================] - 1s 3ms/step - loss: 0.5395 - accuracy: 0.7385 - val_loss: 0.5713 - val_accuracy: 0.7173

In [ ]:
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

215/215 - 1s - loss: 0.5705 - accuracy: 0.7182 - 702ms/epoch - 3ms/step
Loss: 0.570475697517395, Accuracy: 0.7182215452194214

In [ ]:
# Export our model to HDF5 file
final_model_path = "AlphabetSoupCharityOptimized.h5"
nn.save(final_model_path)